.booking__day2 {
    color: #ffffff;
    background-color: #FFA500;
    a {
        color: #ffffff !important;
    }
   
}
.booking__day3 {
    color: #333333;
    background-color: #FFFF00;
    a {
        color: #333333 !important;
    }
   
}
.booking__day4 {
    color: #ffffff;
    background-color: #FF4500;
    a {
        color: #ffffff !important;
    }
   
}