.site-header {
  background-color: #FFFFFF;
  height: auto;
  padding-bottom: 3px;
  color: #bab5ab;
  font-family: "Arial";
  font-size: 18.93px;
}
.site-header .wrapper__header {
  height: 100%;
}
.site-header .wrapper__header .site-name {
  width: auto;
}
.site-header .wrapper__header .site-name a, .site-header .wrapper__header .site-name a:active, .site-header .wrapper__header .site-name a:hover, .site-header .wrapper__header .site-name a:focus {
  color: #bab5ab;
}
.site-header .wrapper__header .right-container {
  float: right;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.site-header .wrapper__header .right-container .search-box {
  display: inline-flex;
  width: 356px;
}
.site-header .wrapper__header .right-container .search-box .input-group-addon {
  height: 31px;
  margin-top: 4px;
  background-color: #1D601F;
  border: none;
  outline: none;
  box-shadow: none;
  padding-top: 7px;
  padding-right: 17px;
  color: #e6e6e6;
  font-size: 1em;
}
.site-header .wrapper__header .right-container .search-box input {
  display: inline;
  width: 100%;
  margin-right: 33px;
  margin-top: 4px;
  background-color: #1D601F;
  border: none;
  outline: none;
  box-shadow: none;
  height: 31px;
  color: #e6e6e6;
  font-size: 1em;
}
.site-header .wrapper__header .right-container .search-box input::placeholder {
  color: #e6e6e6;
  font-size: 1em;
}
.site-header .wrapper__header .right-container .notify {
  margin-right: 33px;
  padding-top: 10px;
}
.site-header .wrapper__header .right-container .notify .icon {
  color: #333333;
}
.site-header .wrapper__header .right-container .notify .icon:hover, .site-header .wrapper__header .right-container .notify .icon:active, .site-header .wrapper__header .right-container .notify .icon:focus {
  color: #ffffff;
}
.site-header .wrapper__header .right-container .notify .badge {
  width: 15px;
  height: 15px;
  padding: 2px 0px;
  font-size: 10.5px;
  background-color: #f15636;
  margin-bottom: 5px;
}
.site-header .wrapper__header .right-container .notify:last-of-type {
  margin-right: 14px;
}
.site-header .wrapper__header .right-container .btn-avartar {
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  margin-top: 2px;
}
.site-header .wrapper__header .right-container .btn-avartar .avartar {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.site-header .wrapper__header .right-container .dropdown .dropdown-menu li a:hover, .site-header .wrapper__header .right-container .dropdown .dropdown-menu li a:focus {
  background-color: #428bca;
  color: #fff;
}

.navbar {
  height: auto !important;
  vertical-align: middle;
}
.navbar .wrapper__menu {
  height: 100%;
  padding-top: 12px;
  font-family: "Arial", sans-serif;
  font-size: 13.88px;
}
.navbar .wrapper__menu ul li a {
  margin-right: 8px;
}
.navbar .wrapper__menu ul li a:active, .navbar .wrapper__menu ul li a:focus, .navbar .wrapper__menu ul li a:hover {
  color: #ff4e00;
}
.navbar .wrapper__menu ul li ul.dropdown-menu {
  left: -1px;
}
.navbar .wrapper__menu ul li ul.dropdown-menu li a {
  margin-right: 0px;
}

.container__body {
  min-height: 87vh;
}

.wrapper.wrapper__body {
  font-size: 12px;
}
.wrapper.wrapper__body .row__search {
  display: flex;
  flow-flex: row nowrap;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.wrapper.wrapper__body .row__search .textbox {
  height: 26px;
  border: 1px solid #f0f0f0;
  outline: none;
  box-shadow: none;
}
.wrapper.wrapper__body .row__search .textbox .textbox__bookingcode {
  width: 176px;
}
.wrapper.wrapper__body .row__search .textbox .textbox__date {
  width: 176px;
}
.wrapper.wrapper__body .row__search .col__btn-search {
  padding-left: 11px;
}
.wrapper.wrapper__body .row__search .col__btn-search .btn__search {
  font-size: 9.25px;
  font-weight: 900;
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 26px;
  padding-left: 21px;
  background-size: 20px 20px;
  background-position: 2px 1px;
}
.wrapper.wrapper__body .form-group__btn-cruise {
  text-transform: uppercase;
  font-family: "Arial" sans-serif;
  margin-bottom: 20px;
}
.wrapper.wrapper__body .form-group__btn-cruise .col__cruise {
  width: 100.2%;
}
.wrapper.wrapper__body .form-group__btn-cruise .col__cruise .btn-group__cruise {
  width: 100;
}
.wrapper.wrapper__body .form-group__btn-cruise .col__cruise .btn-group__cruise a {
  font-size: 12.81px !important;
}
.wrapper.wrapper__body .form-group__btn-cruise .col__cruise .btn-group__cruise .btn__cruise {
  height: 41px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #f0f0f0;
  border-left: none;
  width: 16.74%;
}
.wrapper.wrapper__body .form-group__btn-cruise .col__cruise .btn-group__cruise .btn__cruise.cruiseActive {
  color: #fff;
}
.wrapper.wrapper__body .form-group__btn-cruise .col__cruise .btn-group__cruise .btn__cruise:first-child {
  border-left: 1px solid #f0f0f0;
}
.wrapper.wrapper__body .row__btn-charter {
  margin-bottom: 28px;
}
.wrapper.wrapper__body .row__btn-charter .col__right-side {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.wrapper.wrapper__body .row__btn-charter .col__right-side .btn__add-booking {
  width: 18%;
  margin-left: 7px;
}
.wrapper.wrapper__body .row__date-label {
  margin-bottom: 16px;
  font-size: 17.08px;
}
.wrapper.wrapper__body .row__date-label .lbl__date {
  font-size: 10.68px;
}
.wrapper.wrapper__body .row__date-label .col__left-side {
  width: 48%;
  padding-left: 5.5%;
}
.wrapper.wrapper__body .row__date-label .col__right-side {
  padding-left: 5.5%;
}
.wrapper.wrapper__body .row__floor {
  margin-bottom: 28px;
}
.wrapper.wrapper__body .row__floor .lbl__floor {
  font-size: 10.68px;
}
.wrapper.wrapper__body .row__floor .col__left-side {
  width: 45.8%;
}
.wrapper.wrapper__body .row__floor .col__left-side .rooms .rooms__room {
  width: 152px;
}
.wrapper.wrapper__body .row__floor .col__left-side .rooms .rooms__room .room__container {
  height: 125px;
}
.wrapper.wrapper__body .row__floor .col__left-side .rooms .rooms__room .room__container .room__name {
  font-size: 21.35px;
}
.wrapper.wrapper__body .row__floor .col__left-side .rooms .rooms__room .room__container .room__bookingid {
  font-size: 12.81px;
  text-align: right;
  margin-top: -5px;
  margin-right: 8px;
}
.wrapper.wrapper__body .row__floor .col__left-side .rooms .rooms__room .room__container .room__partner {
  font-size: 10.5px;
  font-weight: bold;
  text-transform: capitalize;
}
.wrapper.wrapper__body .row__floor .col__left-side .rooms .rooms__room .room__container .room__customer-name {
  margin-top: 10px;
  font-size: 9px;
  font-style: italic;
  text-transform: capitalize;
  width: 80%;
}
.wrapper.wrapper__body .row__floor .col__left-side .rooms .rooms__room .room__container .room__number-of-pax {
  margin-top: 10px;
  background-color: #d6d6d6;
  font-size: 11px;
  border-radius: 3px;
  height: 15px;
  width: 19px;
  padding: 0 7px;
  color: #111;
}
.wrapper.wrapper__body .row__floor .col__right-side {
  position: relative;
  left: 26px;
  width: 45.8%;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms {
  padding-right: 10px;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms .rooms__room {
  width: 146px;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms .rooms__room .room__container {
  height: 125px;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms .rooms__room .room__container .room__name {
  font-size: 21.35px;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms .rooms__room .room__container .room__bookingid {
  font-size: 12.81px;
  text-align: right;
  margin-top: -5px;
  margin-right: 8px;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms .rooms__room .room__container .room__partner {
  font-size: 10.5px;
  font-weight: bold;
  text-transform: capitalize;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms .rooms__room .room__container .room__customer-name {
  margin-top: 10px;
  font-size: 9px;
  font-style: italic;
  text-transform: capitalize;
  width: 80%;
}
.wrapper.wrapper__body .row__floor .col__right-side .rooms .rooms__room .room__container .room__number-of-pax {
  margin-top: 10px;
  background-color: #d6d6d6;
  font-size: 11px;
  border-radius: 3px;
  height: 15px;
  width: 19px;
  padding: 0 7px;
  color: #111;
}
.wrapper.wrapper__body .row__explaintation {
  font-size: 12px;
}
.wrapper.wrapper__body .row__explaintation .col__bk-approved {
  width: 12%;
}
.wrapper.wrapper__body .row__explaintation .col__bk-pending {
  width: 12%;
}
.wrapper.wrapper__body .row__explaintation .col__bk3d {
  width: 12%;
}
.wrapper.wrapper__body .row__explaintation .col__bk2d {
  width: 12%;
}
.wrapper.wrapper__body .row__explaintation .col__missing-customer-infomation {
  width: 18%;
}

.table__archivement tr td:last-of-type {
  font-weight: bold;
  text-align: right;
}
.table__archivement tr td {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

.table__cruise-avaiability td.td__not-avaiable {
  color: #fff;
  background-color: #f15636;
}
.table__cruise-avaiability td.td__no-room-using {
  background-color: #ffff005e;
}

.table__top10partner tr td {
  padding-bottom: 0 !important;
}

.table__agencies-no-bookings tr td {
  padding: 3px !important;
  padding-bottom: 0 !important;
}

.col__today-booking {
  padding-right: 50px;
}

.col__buttons {
  width: 29%;
}

.col__golden-day .xdsoft_datetimepicker.xdsoft_inline {
  border: none;
  padding-right: 0;
  width: 96%;
}
.col__golden-day .xdsoft_datetimepicker .xdsoft_datepicker {
  margin: 0;
  width: 100%;
}
.col__golden-day .xdsoft_datetimepicker .xdsoft_next, .col__golden-day .xdsoft_datetimepicker .xdsoft_prev, .col__golden-day .xdsoft_datetimepicker .xdsoft_today_button {
  margin-left: 0;
}
.col__golden-day .xdsoft_datetimepicker .xdsoft_month {
  width: 44%;
  z-index: 9;
}
.col__golden-day .xdsoft_datetimepicker .xdsoft_year {
  width: 23%;
  padding-left: 0;
  z-index: 9;
}
.col__golden-day .col__golden-day .xdsoft_datetimepicker .xdsoft_next, .col__golden-day .col__golden-day .xdsoft_datetimepicker .xdsoft_prev, .col__golden-day .col__golden-day .xdsoft_datetimepicker .xdsoft_today_button {
  position: relative;
  width: 10px;
}
.col__golden-day .golden-day__header {
  position: absolute;
  top: -25px;
}
.col__golden-day .xdsoft_datetimepicker .xdsoft_calendar td:hover, .col__golden-day .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background-color: #f5f5f5 !important;
  color: #666 !important;
}
.col__golden-day .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_highlighted_default:hover {
  background: #ffe9d2 !important;
  box-shadow: #ffb871 0 1px 4px 0 inset !important;
  color: #000 !important;
}
.col__golden-day .xdsoft_datepicker .xdsoft_calendar tr td.xdsoft_date.hightlight__golden-day,
.col__golden-day .xdsoft_datepicker .xdsoft_calendar tr td.xdsoft_date.hightlight__golden-day:hover,
.col__golden-day .xdsoft_datepicker .xdsoft_calendar tr td.xdsoft_datehightlight__golden-day:focus {
  background: #f6f96299 !important;
  box-shadow: #f9ff00cc 0 1px 4px 0 inset !important;
  color: #e41d1d !important;
}

.meeting-modal .meeting-modal__modal-dialog {
  width: 800px;
}

.col__cruise-availability {
  width: 41%;
}

.input-group__date-searching {
  width: 45%;
  float: right;
}

.col__golden-day.col__golden-day-dashboard-manager .xdsoft_datetimepicker.xdsoft_inline {
  width: 100%;
}

.panel-agency .row__buttons .col__buttons {
  padding-left: 30px;
  padding-top: 20px;
}
.panel-agency .row__contacts {
  margin-top: 20px;
}
.panel-agency .row__contacts .page-header__contacts {
  margin-bottom: 20px;
}
.panel-agency .row__meetings .page-header__meetings {
  margin-bottom: 20px;
}
.panel-agency .row__contracts .page-header__contracts {
  margin-bottom: 20px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.navbar {
  border-radius: 0;
  background-color: #1D601F;
  height: 55px;
  border: 0;
  margin-bottom: 23px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ff4e00;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-nav > li:first-child > a {
  padding-left: 0px !important;
}

.dropdown-menu {
  min-width: 152px;
}

.table-borderless td,
.table-borderless th {
  border: 0 !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100% !important;
  margin-top: -1px;
}

ul.nav li:last-of-type .dropdown-submenu .dropdown-menu {
  top: 0;
  left: auto !important;
  margin-top: -1px;
  right: 100%;
}

body, .navbar-fixed-top, .navbar-fixed-bottom {
  min-width: 1350px;
}

.wrapper__goldenday-create-campaign .col__month-label {
  width: auto;
}
.wrapper__goldenday-create-campaign .col__month {
  width: auto;
}
.wrapper__goldenday-create-campaign .col__year-label {
  width: auto;
}
.wrapper__goldenday-create-campaign .col__year {
  width: auto;
}
.wrapper__goldenday-create-campaign .col__cruise-avaibility {
  border-right: 1px solid #e5e5e5;
}
.wrapper__goldenday-create-campaign .col__create-date .row__date .col__button-date {
  display: flex;
  flex-flow: row-reverse;
}
.wrapper__goldenday-create-campaign .col__create-date .row__date .col__button-date .fa-times {
  font-size: 18px;
}
.wrapper__goldenday-create-campaign .col__create-date .row__date .col__button-date .a__button-add {
  margin-right: 5px;
}
.wrapper__goldenday-create-campaign .col__create-date .row__date .col__button-date .a__button-add .fa-plus {
  font-size: 17px;
}
.wrapper__goldenday-create-campaign .col__create-date .row__date .textbox__policy {
  height: 45px;
}
.wrapper__goldenday-create-campaign .col__create-date .col__button-save {
  display: flex;
  flex-flow: row-reverse;
}

.table__list-campaign {
  width: max-content;
}

.booking__day2 {
  color: #ffffff;
  background-color: #FFA500;
}
.booking__day2 a {
  color: #ffffff !important;
}

.booking__day3 {
  color: #333333;
  background-color: #FFFF00;
}
.booking__day3 a {
  color: #333333 !important;
}

.booking__day4 {
  color: #ffffff;
  background-color: #FF4500;
}
.booking__day4 a {
  color: #ffffff !important;
}

footer {
  background-color: #1D601F;
  margin-top: 5vh;
  min-height: 8vh;
  width: 100%;
}

.--no-padding-left, .--no-padding-leftright, .--no-padding {
  padding-left: 0;
}

.--no-padding-right, .--no-padding-leftright, .--no-padding {
  padding-right: 0;
}

.--no-padding-top, .--no-padding-topbottom, .--no-padding {
  padding-top: 0;
}

.--no-padding-bottom, .--no-padding-topbottom, .--no-padding {
  padding-bottom: 0;
}

.--no-margin-left, .--no-margin-leftright, .--no-margin {
  margin-left: 0;
}

.--no-margin-right, .--no-margin-leftright, .--no-margin {
  margin-right: 0;
}

.--no-margin-top, .--no-margin-topbottom, .--no-margin {
  margin-top: 0;
}

.--no-margin-bottom, .--no-margin-topbottom, .--no-margin {
  margin-bottom: 0;
}

.--text-bold {
  font-weight: bold;
}

.--text-normal {
  font-weight: normal;
}

.--text-uppercase {
  text-transform: uppercase;
}

.--text-right {
  text-align: right !important;
}

.--text-left {
  text-align: left !important;
}

.--text-center {
  text-align: center !important;
}

.--text-italic {
  font-style: italic;
}

.--width-auto {
  width: auto;
}

.--inline-block {
  display: inline-block;
}

.--dropdown-inline {
  width: auto;
  padding: 0;
  display: inline-block;
  position: relative;
  bottom: 7px;
}

.--cancelled, .--problem {
  color: #fff;
  background-color: #f15636;
}
.--cancelled a, .--problem a {
  color: #ffffff !important;
}

.--approved {
  color: #ffffff;
  background-color: #0D8E0C;
}
.--approved a {
  color: #ffffff !important;
}

.--pending {
  color: #ffffff;
  background-color: #337ab7;
}
.--pending a {
  color: #ffffff !important;
}

.--expired {
  color: #ffffff;
  background-color: #575656;
}
.--expired a {
  color: #ffffff !important;
}

.--float-right {
  float: right;
}

.wrapper {
  margin-left: 104px;
  margin-right: 104px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.table__total {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.table__total tfoot tr td {
  border: 0;
}
.table__total tfoot tr .td__total {
  border-bottom: 1px solid #dddddd;
}

.--high-light {
  background-color: #ffff33;
}

.checkbox-group label {
  cursor: pointer;
}
.checkbox-group label .checkbox-group__horizontal {
  margin-right: 8px;
}
.checkbox-group label:last-of-type .checkbox-group__horizontal {
  margin-right: 0px;
}

input[type=checkbox] {
  cursor: pointer;
}

.area .area__title {
  display: inline-block;
}
.area .area__title-control-group {
  display: inline-block;
  float: right;
}
.area .area__title-control-group .row {
  display: flex;
  flex-flow: row-reverse;
  row-gap: unset;
}

.icon {
  font-size: 1.4em !important;
}

.icon.icon__download {
  color: #319431;
}

.icon.icon__edit {
  color: #f79301;
}

.icon.icon__note {
  color: #dbb600;
}

.--problem .icon.icon__download {
  color: #ffffff;
}
.--problem .icon.icon__edit {
  color: #ffffff;
}

.star.star--blink {
  animation: blinker 1s linear infinite;
}

.--problem .star.star--blink {
  animation: problem-blinker 1s linear infinite;
}

.star.star--yellow {
  color: #e8c848;
}

.--problem .star.star--yellow {
  color: #ffffff;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
  to {
    color: #e04a3a;
  }
}
@keyframes problem-blinker {
  50% {
    opacity: 0;
  }
  to {
    color: #ffffff;
  }
}
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 14px;
  top: 12px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.tooltip-inner {
  text-align: left !important;
  white-space: pre-line !important;
}

fieldset.--reset-this {
  padding-bottom: 9px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 4.2px;
  padding-bottom: 9px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 4.2px;
  border-bottom-color: silver;
  border-bottom-style: solid;
  border-bottom-width: 0.916667px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: silver;
  border-left-style: solid;
  border-left-width: 0.916667px;
  border-right-color: silver;
  border-right-style: solid;
  border-right-width: 0.916667px;
  border-top-color: silver;
  border-top-style: solid;
  border-top-width: 0.916667px;
  border-radius: 5px;
}

legend.--reset-this {
  display: table;
  max-width: 100%;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 17.15px;
  color: #333333;
  box-sizing: border-box;
  width: unset;
  margin-bottom: unset;
  border-bottom: unset;
}

[data-toggle-hide=false] {
  display: initial !important;
}

/*# sourceMappingURL=main1.css.map */
